{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% block inside %}
    <h1>{% trans "Fact.pt" %}</h1>
    <p>
        {% blocktrans trimmed %}
            Configure here the Fact.pt API access used to issue invoice-receipts after
            payment is confirmed.
        {% endblocktrans %}
    </p>
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.factpt_token layout="horizontal" %}
        {% bootstrap_field form.factpt_sandbox layout="horizontal" %}
        <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
                <span id="factpt-lookup-status" class="help-block"></span>
            </div>
        </div>
        {% bootstrap_field form.factpt_default_tax_id layout="horizontal" %}
        {% bootstrap_field form.factpt_default_unit_id layout="horizontal" %}
        {% bootstrap_field form.factpt_default_type layout="horizontal" %}
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
    <script type="application/javascript" src="{% static 'pretix_factpt/settings.js' %}"></script>
{% endblock %}
